<%= form_tag sessions_path, class: 'form-signin' do %>
  <h2 class="form-signin-heading text-center">Вхід</h2>
    <%= text_field_tag :email, params[:email], class: 'form-control', placeholder: 'Email', type: 'email' %>
    <%= password_field_tag :password, '', class: 'form-control', placeholder: 'Пароль', type: 'password' %>

    <%= label_tag :number, 'Номер групи:'%>
    <%= number_field_tag(:number, params[:number], class: 'form-control') %><br/>
    <%= label_tag :garden_number, 'Номер садочка:'%>
    <%= number_field_tag(:garden_number, params[:garden_number], class: 'form-control') %><br/>

    <%= submit_tag 'Увійти', class: 'btn btn-lg btn-primary btn-block' %>
  <%= link_to 'Реєстрація', signup_path, class: 'btn btn-lg btn-default btn-block' %>
<% end %>
