<h1>Перелік груп</h1>
<p>Групи до яких ви маєте доступ:</p>

<div class="table-responsive">
  <table class="table table-striped">
    <thead>
    <tr>
      <th>Назва</th>
      <th>Садочок №</th>
      <th>Група №</th>
      <th>Керівник</th>
      <th>Кількість учасників</th>
      <th>Дата створення</th>
    </tr>
    </thead>
    <tbody>
    <% @groups.each do |g|%>
      <tr>
        <td><%= g.name || '---'%></td>
        <td><%= g.garden_number %></td>
        <td><%= link_to g.number, group_path(g) %></td>
        <td><%= g.manager || '---'%></td>
        <td><%= g.users.count %></td>
        <td><%= g.created_at.strftime('%d.%m.%Y') %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
