<%= form_for @user, html: {class: 'form-signin'} do |f| %>
  <% if @user.errors.any? %>
    <div class="error_messages">
      <h4>Form is invalid</h4>
      <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <h2 class="form-signin-heading text-center">Реєстрація</h2>
  <%= f.text_field :email, class: 'form-control', placeholder: 'Email', type: 'email' %>
  <%= f.password_field :password, class: 'form-control', placeholder: 'Пароль', type: 'password' %>
  <%= f.password_field :password_confirmation, class: 'form-control', placeholder: 'Пароль ще раз', type: 'password' %>
  <%= label_tag :number, 'Номер групи:'%>
  <%= number_field_tag(:number, params[:number], class: 'form-control') %><br/>
  <%= label_tag :garden_number, 'Номер садочка:'%>
  <%= number_field_tag(:garden_number, params[:garden_number], class: 'form-control') %><br/>
  <%= f.submit 'Зареєструватись', class: 'btn btn-lg btn-primary btn-block' %>

  <%= link_to 'Вхід', login_path, class: 'btn btn-lg btn-default btn-block' %>
<% end %>